
<html>
<head>
</head>
<body >
    @Html.ActionLink("text", "actionName")
    @Html.ActionLink("text", "actionName", "controllerName")
    @Html.ActionLink("text", "actionName", "controllerName", new { id = 1 })
</body>
</html>




